<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .header {
        width: 100%;
        padding-bottom: 5px;
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }

      .header img {
        width: 125px;
        height: 75px;
        margin-left: 12px;
      }

      .container {
        background: white;
        background-image: "/gv-log.png";
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 50%;
        max-width: 400px;
        text-align: center;
        margin-top: 60px;
      }

      h1 {
        color: #333;
        margin-bottom: 20px;
      }

      button {
        background-color: #12344d;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
      }

      .btn-microsoft {
        background-color: #12344d;
        margin-top: 10px;
      }

      .btn-microsoft:hover {
        background-color: #1d3e72;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <img src="<%= nodeAppBaseUrl %>/logo.png" alt="Goavega Logo" />
    </div>

    <div class="container">
      <h1>Welcome to Goavega Help Center
    </h1>
      <button class="btn-microsoft" onclick="signInWithMicrosoft()">
        Sign in with Microsoft
      </button>
    </div>

    <script>
      function signInWithMicrosoft() {
          window.location.href = "<%= nodeAppBaseUrl %>/auth/microsoft";
      }
  </script>
  </body>
</html>
